.datosPais{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
}

.imagenPais{
    margin-bottom: 50px;
    margin-top: 50px;
}